.register-input {
  /* width: 1300px; */
  padding: 12px 20px;
  margin: 10px 0;
  border: 2px solid #333;
  border-radius: 6px;
  background-color: #222;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.register-input:hover {
  border-color: #92cc34;
  background-color: #2c2c2c;
}

.register-input:focus {
  border-color: #19b44d;
  background-color: #2c2c2c;
  outline: none;
}

.register-input::-webkit-file-upload-button {
  background-color: #ffffff;
  color: #fff;
  padding: 8px 15px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}
