<app-loading-wrapper>
  <div class="h-full w-full p-1">
    <div
      class="h-full w-full overflow-auto rounded-2xl border border-white bg-crema p-6 shadow-inner"
    >
      <div class="mx-auto max-w-4xl space-y-8 p-4">
        @if (especialistas().length) {
        <div>
          <h2 class="mb-4 text-center text-xl font-semibold">
            Seleccioná un profesional
          </h2>
          <div class="flex flex-wrap justify-center gap-4">
            @for (prof of especialistasValidados(); track prof) {
            <button
              (click)="seleccionarEspecialista(prof)"
              [class.opacity-50]="especialistaSeleccionado() && especialistaSeleccionado()!.id !== prof.id"
              class="flex flex-col items-center space-y-1 focus:outline-none"
            >
              <img
                [src]="prof.imagenPerfil || 'assets/default-avatar.png'"
                alt="profesional"
                class="h-20 w-20 rounded-full border object-cover shadow"
                [class.border-blue-600]="especialistaSeleccionado()?.id === prof.id"
                appTrackImage
              />
              <span class="text-center text-sm"
                >{{ prof.nombre }} {{ prof.apellido }}</span
              >
            </button>
            }
          </div>
        </div>
        } @if (noHayEspecialistas()) {
        <div class="text-center">
          <p class="text-lg text-red-500">
            No se encontraron especialistas con fechas disponibles en los
            próximos 15 días.
          </p>
        </div>
        } @if (especialistaSeleccionado()) {
        <div>
          <h2 class="mb-4 text-center text-xl font-semibold">
            ---- Seleccioná una especialidad ----
          </h2>
          <div class="flex flex-wrap justify-center gap-4" @listaAnimacion>
            @for (esp of especialidades(); track esp) {
            <button
              (click)="seleccionarEspecialidad(esp)"
              @especialidadAnimacion
              class="flex h-21 w-21 flex-col items-center justify-center rounded-lg border bg-white shadow hover:bg-blue-50"
              [class.border-blue-600]="especialidadSeleccionada()?.id === esp.id"
              [class.opacity-50]="especialidadSeleccionada()  && especialidadSeleccionada()!.id !== esp.id"
            >
              <img
                [src]="esp.icono || 'assets/default-icon.png'"
                alt="icono"
                class="mb-2 h-10 w-10"
                appTrackImage
              />
              <span class="text-center text-xs">{{ esp.nombre }}</span>
            </button>
            }
          </div>
          @if (noHayEspecialidades()) {
          <p class="mt-4 text-center text-red-500">
            No hay especialidades disponibles.
          </p>
          }
        </div>
        } @if (especialidadSeleccionada()) {
        <div>
          <h2 class="mb-4 text-center text-xl font-semibold">
            ---- Seleccioná un día ----
          </h2>
          <div class="flex flex-wrap justify-center gap-2">
            @for (fecha of fechasDisponibles(); track fecha) {
            <button
              (click)="seleccionarFecha(fecha)"
              class="rounded bg-blue-100 px-4 py-2 text-sm font-medium hover:bg-blue-200"
              [class.bg-blue-600]="fechaSeleccionada() === fecha"
              [class.text-white]="fechaSeleccionada() === fecha"
            >
              {{ fecha }}
            </button>
            }
          </div>
          @if (noHayFechas()) {
          <p class="mt-4 text-center text-red-500">No hay días disponibles.</p>
          }
        </div>
        } @if (fechaSeleccionada() ) {
        <div>
          <h2 class="mb-4 text-center text-xl font-semibold">
            ---- Seleccioná un horario ----
          </h2>
          <div class="flex flex-wrap justify-center gap-2">
            @for (hora of horariosDisponibles(); track hora) {
            <button
              (click)="seleccionarHorario(hora)"
              class="h-12 w-16 rounded-lg bg-green-200 text-sm font-semibold hover:bg-green-300"
              [class.bg-green-500]="horaSelecionada() === hora"
              [class.text-white]="horaSelecionada() === hora"
            >
              {{ hora }}
            </button>
            }
          </div>
          @if (noHayHorarios()) {
          <p class="mt-4 text-center text-red-500">
            No hay turnos disponibles.
          </p>
          }
        </div>
        } @if (horaSelecionada()) {
        <div class="mt-8 text-center">
          <p class="text-sm text-gray-600">
            Seleccionaste:
            <strong
              >{{ especialistaSeleccionado()?.nombre }} {{
              especialistaSeleccionado()?.apellido }}</strong
            >
            <br />
            Especialidad:
            <strong>{{ especialidadSeleccionada()?.nombre }}</strong>
            <br />
            Día: <strong>{{ fechaSeleccionada() }}</strong>
            <br />
            Hora: <strong>{{ horaSelecionada() }}</strong>
          </p>
          <div class="pt-4">
            <button
              (click)="cargarCita()"
              class="rounded bg-blue-200 px-4 py-2 text-lg font-medium hover:bg-blue-300"
            >
              Confirmar
            </button>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</app-loading-wrapper>
