<div class="pt-30 pb-130">
  <h2 class="pb-1 text-center text-4xl font-bold text-azul-oscuro">Login</h2>

  <!-- formulario -->
  <div class="flex justify-center bg-white py-8">
    <form
      [formGroup]="loginForm"
      (ngSubmit)="logear()"
      class="flex w-full max-w-xl flex-col items-center rounded-xl bg-crema p-8 shadow-lg"
    >
      <!-- Mail -->
      <mat-form-field
        appearance="fill"
        class="w-80"
        [ngClass]="{
    'mat-form-field-valid': loginForm.get('mail')?.valid && (loginForm.get('mail')?.dirty || loginForm.get('mail')?.touched),
    'mat-form-field-invalid': loginForm.get('mail')?.invalid && (loginForm.get('mail')?.dirty || loginForm.get('mail')?.touched)
  }"
      >
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="mail" />
        <mat-error *ngIf="loginForm.get('mail')?.hasError('required')"
          >Campo obligatorio</mat-error
        >
        <mat-error *ngIf="loginForm.get('mail')?.hasError('email')"
          >Email inválido</mat-error
        >
      </mat-form-field>
      <br />
      <!-- Password -->
      <mat-form-field
        appearance="fill"
        class="w-80"
        [ngClass]="{
    'mat-form-field-valid': loginForm.get('password')?.valid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched),
    'mat-form-field-invalid': loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)
  }"
      >
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')"
          >Campo obligatorio</mat-error
        >
        <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')"
          >Mínimo 7 caracteres</mat-error
        >
      </mat-form-field>

      <!-- Botón -->
      <div class="flex justify-center pt-4">
        <button
          mat-raised-button
          color="primary"
          [disabled]="loginForm.invalid"
          type="submit"
          class="rounded-full bg-verde-oscuro px-8 py-2 text-white shadow-lg"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
