<div class="bg-gray-200 px-6 py-28 pb-83">
  <h2 class="mb-10 text-center text-5xl font-bold text-azul-oscuro">
    {{ 'planes.titulo' | transloco }}
  </h2>
  <p class="mt-4 text-center text-lg text-gray-700">
    {{ 'planes.subtitulo' | transloco }}
  </p>

  <div
    class="mx-auto mt-12 grid max-w-7xl grid-cols-1 gap-8 px-4 md:grid-cols-3"
  >
    <!-- Plan Plata -->
    <div
      class="mx-auto flex h-[540px] w-[400px] flex-col rounded-2xl bg-white p-6 shadow transition-transform hover:scale-105"
    >
      <h3 class="text-center text-4xl font-bold text-gray-300">
        {{ 'planes.plata.nombre' | transloco }}
      </h3>
      <ul class="mt-4 flex-grow space-y-2 text-gray-700">
        <li>✔ {{ 'planes.plata.beneficio1' | transloco }}</li>
        <li>✔ {{ 'planes.plata.beneficio2' | transloco }}</li>
        <li>✔ {{ 'planes.plata.beneficio3' | transloco }}</li>
        <li>✔ {{ 'planes.plata.beneficio4' | transloco }}</li>
        <li>✔ {{ 'planes.plata.beneficio5' | transloco }}</li>
      </ul>

      <!-- Sección de precios -->
      <div class="mt-6 flex items-baseline justify-center gap-4 text-center">
        <span class="text-3xl font-bold text-verde-oscuro">$200.000</span>
        <span class="text-gray-500 line-through">$250.000</span>
      </div>

      <div class="mt-6 text-center">
        <button
          class="rounded-full bg-verde-oscuro px-6 py-2 font-semibold text-white transition-transform hover:scale-105"
          (click)="clickLogin()"
        >
          {{ 'planes.botonElegir' | transloco }}
        </button>
      </div>
    </div>

    <!-- Plan Oro -->
    <div
      class="mx-auto flex h-[540px] w-[400px] flex-col rounded-2xl bg-white p-6 shadow-lg transition-transform hover:scale-105"
    >
      <h3 class="text-center text-4xl font-bold text-yellow-500">
        {{ 'planes.oro.nombre' | transloco }}
      </h3>
      <ul class="mt-4 flex-grow space-y-2 text-gray-700">
        <li>✔ {{ 'planes.oro.beneficio1' | transloco }}</li>
        <li>✔ {{ 'planes.oro.beneficio2' | transloco }}</li>
        <li>✔ {{ 'planes.oro.beneficio3' | transloco }}</li>
        <li>✔ {{ 'planes.oro.beneficio4' | transloco }}</li>
        <li>✔ {{ 'planes.oro.beneficio5' | transloco }}</li>
        <li>✔ {{ 'planes.oro.beneficio6' | transloco }}</li>
      </ul>

      <div class="mt-6 flex items-baseline justify-center gap-4 text-center">
        <span class="text-3xl font-bold text-verde-oscuro">$300.000</span>
        <span class="text-gray-500 line-through">$350.000</span>
      </div>

      <div class="mt-6 text-center">
        <button
          class="rounded-full bg-verde-oscuro px-6 py-2 font-semibold text-white transition-transform hover:scale-105"
          (click)="clickLogin()"
        >
          {{ 'planes.botonElegir' | transloco }}
        </button>
      </div>
    </div>

    <!-- Plan Platino -->
    <div
      class="mx-auto flex h-[540px] w-[400px] flex-col rounded-2xl bg-white p-6 shadow-xl transition-transform hover:scale-105"
    >
      <h3 class="text-center text-4xl font-bold text-blue-300">
        {{ 'planes.platino.nombre' | transloco }}
      </h3>
      <ul class="mt-4 flex-grow space-y-2 text-gray-700">
        <li>✔ {{ 'planes.platino.beneficio1' | transloco }}</li>
        <li>✔ {{ 'planes.platino.beneficio2' | transloco }}</li>
        <li>✔ {{ 'planes.platino.beneficio3' | transloco }}</li>
        <li>✔ {{ 'planes.platino.beneficio4' | transloco }}</li>
        <li>✔ {{ 'planes.platino.beneficio5' | transloco }}</li>
        <li>✔ {{ 'planes.platino.beneficio6' | transloco }}</li>
        <li>✔ {{ 'planes.platino.beneficio7' | transloco }}</li>
      </ul>

      <div class="mt-6 flex items-baseline justify-center gap-4 text-center">
        <span class="text-3xl font-bold text-verde-oscuro">$500.000</span>
        <span class="text-gray-500 line-through">$550.000</span>
      </div>

      <div class="mt-6 text-center">
        <button
          class="rounded-full bg-verde-oscuro px-6 py-2 font-semibold text-white transition-transform hover:scale-105"
          (click)="clickLogin()"
        >
          {{ 'planes.botonElegir' | transloco }}
        </button>
      </div>
    </div>
  </div>
</div>
